<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center mt-4">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-1">
        <label for="image" class="form-label">Add Image</label>
        <!-- <input type="file" name="image" id="image" multiple /> -->
      </div>

      <div class="form-file input-group custom-file mb-3">
        <input
          type="file"
          class="form-file-input form-control"
          id="image"
          name="image"
          multiple
        />
        <!-- <label class="form-file-label form-label" for="image">Upload</label> -->
      </div>

      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="campground[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div> -->

      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input
            type="text"
            id="price"
            class="form-control"
            placeholder="0.00"
            aria-label="Username"
            aria-describedby="price-label"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>
