@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* #78415b

#2b597c */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* overflow-x: hidden; */
    background: #fff;
    min-height:100vh;
}

header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:30px ;
    display : flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar .navbar-toggler{
  background-color: #112434;;
  border: 2px solid black;
  margin-right: 25px;
}




ul li a.nav-link{
  color:#112434;
  
}
/* .uplift{
    
} */

.uplift{
    padding-bottom: 20px;
    font-size:30px;
}
.space{
  margin-left: 10px;
}
.space a{
    margin-left: 10px;
}

.logo{
    color: #112434;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 40px;
    /* position: absolute;
    right:2px; */
}

.navigation li{
    list-style: none;
}

.navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
    font-weight: 430;
    font-size: 1.5em;
}
/* 660 708 */
/* ul.navigation li a:hover,
ul.navigation li a.active{
    background:#112434;
    color: #fff;
} */

.parallax{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    pointer-events: none;
}

#text{
    position: absolute;
    top:30%;
    left:40%;
    right:25%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #112434;
}

#dan{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 50px;
  
  color: #112434;
}


/* Section */

.sec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #112434;;
    padding: 3.25rem;
    overflow: hidden;
  }
  
  .sec h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .sec p {
    font-size: 1rem;
    color:  #2b597c;
    font-weight: 300;
  }
  
  /* Card */
  
  .container .content {
    display: flex;
    /* background-color: #2b597c; */
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
   
  }
  
  .card {
    position: relative;
    /* background-color: #2b597c; */
    color:  #112434;
    border: 3px solid  #fff;
    border-radius: 50px;
    /* border-image-source: url('plants.png'); */
    width: 15rem;
    
  }
  
  /* .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #359381;
    clip-path: circle(55% at 0 0);
    border-top-left-radius: 10px;
  }
   */
  .card .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

  }
  
  .card .name-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .name-details .name {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .name-details .details {
    font-size: 1.2rem;
  }

  .container {
    position: relative;
  }

  @media (max-width : 767.98px){
    #text{
      position: absolute;
      top: 46%;
      left: 35%;
      transform: translateY(-50%);
      font-size: 4em;
      color: #112434;
  }
 
  


  }

  @media (max-width : 425px){
    #text{
      position: absolute;
      top:36%;
      left:15%;
      transform: translateY(-50%);
      font-size: 4em;
      color: #112434;
  }

  .navbar .navbar-toggler {
    background-color: #112434;
    border: 2px solid black;
    margin-right: -46px;
}
  }

  @media(max-width: 991.98px){
    .navbar .navbar-toggler {
      background-color: #112434;
      border: 2px solid black;
      margin-right: -4px;
  }
  }

  @media(min-width: 768px){
    .navbar .navbar-toggler {
      background-color: #112434;
      border: 2px solid black;
      margin-right: -50px;
  }
  }

  @media (max-width:575.98px){
    #text{
      position: absolute;
      top:36%;
      left:26%;
      transform: translateY(-50%);
      font-size: 4em;
      color: #112434;
  }

  .navbar .navbar-toggler {
    background-color: #112434;
    border: 2px solid black;
    margin-right: -46px;
}
  }
 
  